* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #39297b;
  color: #fff;
}

.container {
  width: 100%;
}

h1 {
  text-align: center;
  margin: 100px 0px 50px;
  font-weight: 600;
}

form {
  width: 90%;
  max-width: 600px;
  margin: auto;
  height: 60px;
  background-color: #434989;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

form input {
  width: 100%;
  height: 60px;
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 18px;
  padding: 0px 10px;
  border-radius: 8px 0px 0px 8px;
}

form button {
  padding: 0px 15px;
  height: 100%;
  background: #ff3929;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

::-moz-placeholder {
  color: #fff;
  font-size: 18px;
}

::placeholder {
  color: #fff;
  font-size: 18px;
}

#show-more-btn {
  text-align: center;
  background: #ff3929;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px auto 100px;
  cursor: pointer;
  display: none;
}

#box {
  width: 50%;
  text-align: center;
  background: red;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 40px auto 0px;
  cursor: pointer;
  display: none;
}

#search-result {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

#search-result img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

@media (min-width: 670px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    background: #39297b;
    color: #fff;
  }
  .container {
    width: 100%;
  }
  h1 {
    text-align: center;
    margin: 100px 0px 50px;
    font-weight: 600;
  }
  form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background-color: #434989;
    display: flex;
    align-items: center;
    border-radius: 8px;
  }
  form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0px 30px;
  }
  form button {
    padding: 0px 40px;
    height: 100%;
    background: #ff3929;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
  }
  ::-moz-placeholder {
    color: #fff;
    font-size: 19px;
  }
  ::placeholder {
    color: #fff;
    font-size: 19px;
  }
  #show-more-btn {
    text-align: center;
    background: #ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
  }
  #box {
    width: 10%;
    text-align: center;
    background: red;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 50px auto 0px;
    cursor: pointer;
    display: none;
  }
  #search-result {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
  }
  #search-result img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
  }
}/*# sourceMappingURL=style.css.map */